div, body, section, aside, footer, header, nav, p, li, ol, ul, span, h1, h2, h3, h4, h5, h6, dt, dd, dl, a {
	margin: 0;
	padding: 0;
}

.balance-text {
  text-wrap: balanced;  /* Apply (proposed) CSS style */
}

body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 100;
}

h1, h2, h3, h4, h5, .lead {
	font-weight: 100;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 3em;
	margin-bottom: .5em;
	border-left: 4px #FD0C0C solid;
	padding-left: .4em;
	letter-spacing: .3em;
}

a {
	text-decoration: none;
	color: #FD0C0C;
}

.navbar,
.business, 
.content, 
.community,
.design {
	padding-left: 5em;
	padding-right: 5em;
}

.navbar {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.navbar .avatar-wrapper {
	float: left;
	width: 50%;
	position: relative;
}

.navbar .avatar-wrapper img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0px;
}

.navbar .avatar-wrapper h1 {
  	padding-left: 60px;
  	line-height: 50px;
}

.navbar .navbar-buttons {
	float: right;
	max-width: 200px;
	width: 50%;
	text-align: right;
}

.navbar .navbar-buttons .btn-group {
	display: inline-block;
}

.navbar .navbar-buttons .btn {
	float: left;
}

.navbar .navbar-buttons .btn:first-child {
	border-radius: 5px 0 0 5px;
}

.navbar .navbar-buttons .btn:last-child {
	border-radius: 0 5px 5px 0;
	border-left: 0;
}

.btn {
	display: inline-block;
	padding: 15px 20px;
	color: #FD0C0C;
	border: 1px #FD0C0C solid;
	border-radius: 5px;
	text-decoration: none;
	transition: .5s background ease-in-out, .3s color ease-in-out;
	-webkit-transition: .5s background ease-in-out, .3s color ease-in-out;
	-moz-transition: .5s background ease-in-out, .3s color ease-in-out;

}

.btn:hover {
	background: #FD0C0C;
	color: white;
}

.business, 
.content, 
.community,
.design {
	margin: 2em 0;
}

.lead {
	font-size: 1em;
	line-height: 1.2em;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */



@media (max-width: 800px) {
	body {
		font-size: .8em;
	}

	.navbar, 
	.business,
	.content, 
	.community,
	.design {
		padding-right: 2em;
		padding-left: 2em;
	}
}

@media (max-width: 500px) {
	body {
		font-size: .55em;
	}

	.btn, h1, h2, h3, h4, h5, h6, .lead {
		font-weight: 200;
	}

	.navbar, 
	.business, 
	.content, 
	.community,
	.design {
		padding-right: 1em;
		padding-left: 1em;
	}
}

#top-two, #bottom-two {
	width: 50%;
}

#top-two {
	float: left;
}

#bottom-two {
	float: right;
}




