div, body, section, aside, footer, header, nav, p, li, ol, ul, span, h1, h2, h3, h4, h5, h6, dt, dd, dl, a, * {
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
}

.balance-text {
  text-wrap: balanced;  /* Apply (proposed) CSS style */
}

body {
	font-family: "Unica One",'Open Sans Condensed', sans-serif;	padding-top: 50px;
    padding-top: 0;
    padding-bottom: 0;
    color: #565656;
}

h1, h2, h3, h4, h5, .lead {
	font-weight: 200;
}

h1, h2 {
	text-transform: uppercase;
}

h1 {
	font-size: 3.5em;
	font-weight: 400;
}

h2 {
	font-size: 2.5em;
	font-weight: 400;
}

h3 {
	font-size: 1.5em;
	font-weight: 400;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: #538C50;
}

img {
	max-width: 100%;
	display: block;
	margin: auto;
	height: 350px;
}

/******* REST OF PAGE *******/

.header {
	background-color: #333;
	padding: 40px;
}

.header h1,
.header h2 {
	margin-bottom: 0px;
	font-family: "Unica One", "Open Sans Condensed", sans-serif;
	text-transform: none;
	color: #D7CB1A; 
	text-align: center;
	list-style: none;
	text-align: left;
}

.header h1 {
	font-size: 2.5em;
}

.header h2 {
	font-size: 1.2em;
}

.logo-vh-center {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	align-items: center;
	justify-content: center;
}

.profile-picture {
	border: #D7CB1A solid 6px;
	height: 200px;
	width: 200px;
	margin: 2.5em;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
}

#hero-title ul {
	margin-bottom: 20px;
}

#hero-title a {
	color: #D7CB1A;
	text-align: center;
	vertical-align: middle;
}

.nonhero {
	padding: 20px;
}

.nonhero h2 {
	text-align: center;
}

.nonhero.grey {
	background: #F1F1F1;
}

/* -------------------- SUBPAGE -------------------- */

.subpage h3 {
	padding: 10px;
	margin-left: 10px;
}

.subpage h3 a {
	color: #538C50;
}

.subpage li, .subpage ul, .subpage p {
	font-family: "Roboto Slab", "Open Sans", sans-serif;
	font-weight: 300;
	padding: 15px;
	margin-left: 20px;
}

 /* -------------------- END SUBPAGE -------------------- */

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.top {
	position: relative;
	margin: 2em auto 2em;
	max-width: 100%;
}

.top h2 {
	text-align: center;
}

.content .lead, .buckets p, .buckets li, .buckets .quote {
	font-family: "Roboto Slab", "Open Sans", sans-serif;
	margin: auto;
	line-height: 1.7;
	padding: 10px;
	width: 80%;
	max-width: 890px;
}

.buckets li {
	margin: auto;
	padding-left: 75px;
}

.flex {
	width: 48%;
	display: inline-table;
}

.flex a {
	color: #538C50;
}

.two-column {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.quote img {
	float: left;
	height: 150px;
	margin-left: 50px;
}

blockquote {
	padding: 1.5em;
}

/********** MEDIA QUERIES **********/

@media (max-width: 650px) {
	.logo-vh-center {
		text-align: center;
    	flex-direction: column;
	}
}

@media (max-width: 500px) {
	body {
		font-size: .8em;
	}

	.btn, h1, h2, h3, h4, h5, h6, .lead {
		font-weight: 200;
	}


	.quote img {
		margin: auto;
		float: none;
	}

	.buckets li {
	padding-left: 0;
	}

	.two-column {
	  columns: 1;
	  -webkit-columns: 1;
	  -moz-columns: 1;
	}

	.flex {
	width: 100%;
	}

	img {
		height: 200px;
	}
}
