.centered {
	text-align: center;
}

.hidden {
	display: none;
}

.flex {
	display: flex;
}

.align-items-center {
	align-items: center;
}

.align-items-start {
	align-items: flex-start;
}

.justify-content-end {
	justify-content: flex-end;
}

.justify-content-center {
	justify-content: center;
}

.flex-wrap {
	flex-wrap: wrap;
}

body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	text-align: center;
}

h2 {
	font-size: 4em;
	font-weight: 900;
	margin-bottom: 0;
}

h3 {
	font-size: 2em;
	font-weight: 600;
	margin: 20px 40px;
}

h4 {
	text-align: left;
	font-weight: 400;
	margin: 20px 40px;
}

.nav {
	height: 5em;
	background: #FFBF42;
}

.nav p {
	font-size: 1.6em;
	letter-spacing: 1em;
	color: black;
	font-weight: 700;
	line-height: 3em;
	margin: 0;
}

.footer {
	height: 5em;
	background: #000;
}
.footer p {
	font-size: .8em;
	letter-spacing: .5em;
	color: white;
	font-weight: 500;
	line-height: 6em;
	margin-bottom: 0;
}

.results {
	width: 100%;
	margin: auto;
	padding: 2em 0;
}

.results ul {
	padding: 0 3em;
}

.pair {
	width: 50%;
}

.percent {
	font-size: 4em;
	font-weight: 900;
	padding-top: 60px;
	color: black;
}

.circle {
	border: 3px solid black;
	border-radius: 100%;
	height: 200px;
	width: 200px;
	margin: auto;
}

.uk-tile-primary {
	background-color: #3a3732;
	border: white 20px solid;
}

.resource-list { 
	text-align: left;
	font-weight: 200;
	text-transform: capitalize;
	padding: 10px;
}

.contribute { 
	padding: 2em;
	background: #f2f5ee;
}

.quad {
	max-width: 25%;
	margin: auto;
	padding-top: 2em;
}

.uk-button-default {
	background: #FFBF42;
	font-size: 1.2em;
	line-height: 3em;
	font-weight: 500;
}