div, body, section, aside, footer, header, nav, p, li, ol, ul, span, h1, h2, h3, h4, h5, h6, dt, dd, dl, a, * {
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
}

.balance-text {
  text-wrap: balanced;  /* Apply (proposed) CSS style */
}

body {
	font-family: "Playfair Display","Unica One",'Open Sans Condensed',serif;	padding-top: 50px;
    padding: 0 30px;
    color: black;
}

h1 {
	font-size: 2.4em;
	font-weight: 800;
	margin-top: 1em;
}

h2 {
	font-size: 2em;
	font-weight: 800;
	margin-top: 1em;
}

h3 {
	font-size: 1.6em;
	font-weight: 500;
}

h4 {
	font-size: 1.2em;
	font-weight: 500;
	color: black;
	margin-top: 10px;
}

a {
	text-decoration: none;
	color: #545454;
}

a:hover {
	color: #8FCE9D;
	text-decoration: none;
}

img {
	max-width: 80%;
	max-height: 150px;
	display: block;
	margin: auto;
}


/******* MISCELLANEOUS STYLING *******/

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.flex {
	width: 48%;
	display: inline-table;
}

.flex a {
	color: #545454;
}

.two-column {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

/******* END MISCELLANEOUS STYLING *******/

/********** MEDIA QUERIES **********/

@media (max-width: 500px) {

	.top .buttons .btn {
		display: block; 
		font-size: 1.3em;
		text-align: center;
		width: 100%;
		margin: 15px 0;
	}
}

@media (max-width: 770px) {

	.samples-boss a, .rectangles-boss a {
		padding: 2em;
		width: 100%;
	}

	.rectangles.tall {
		padding-top: 40px;
	}

	.left a, .right a {
		text-align: center;
		font-size: .6em;
	}
}

/********** END MEDIA QUERIES **********/

